Repository zaraana/Hyf-Website, pull requests merged in 2021-02, with the labels that each got.

#10 must have added
  Planning/Backlog.md
Labels: Backlog

#48 Zehra contact us
  .vscode/settings.json
  CSS/style.css
  index.html
Labels: our-program

#50 Emely our impact section
  index.html
Labels: CSS, HTML, documentation, our-impact
